<div id="CSS">
    <div id="CSS_container">
        <div id="CSS_menu">
            <ul>
                <li>CSS3 스타일시트 기초
                </li>
                <li>CSS3 박스 모델과 응용
                    <ul class="CSS_submenu">
                        <li>소메뉴1</li>
                        <li>소메뉴2</li>
                        <li>소메뉴3</li>
                    </ul>
                </li>
                <li>CSS3 레이아웃과 애니메이션
                </li>
            </ul>
        </div>
        <div id="CSS_content">
            <h1>내용 부분</h1>
        </div>
    </div>
</div>