<header>
    <div>
        <div>
            <a href="#" id="headerImageLink"><img id="headerImage" src="/image/제목 없음.png"></a>
        </div>
        <nav>
            <ul>
                <li class="mainmenu">
                    <span class="selected">소개
                    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m5 8 6 5 6-5"></path>
                    </svg></span>
                    <ul class="submenu">
                        <li data-menu-id="1">소개글</li>
                        <li data-menu-id="2">프로필</li>
                        <li data-menu-id="3">경력사항</li>
                    </ul>
                </li>
                <li class="mainmenu">
                    <span class="selected">학습
                    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m5 8 6 5 6-5"></path>
                    </svg></span>
                    <ul class="submenu">
                        <li data-menu-id="11">HTML5</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>JAVA</li>
                        <li>PYTHON</li>
                    </ul>
                </li>
                <li class="mainmenu">
                    <span class="selected">프로젝트
                    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m5 8 6 5 6-5"></path>
                    </svg></span>
                    <ul class="submenu">
                        <li>개인프로젝트</li>
                        <li>팀프로젝트</li>
                    </ul>
                </li>
                <li class="mainmenu">
                    <span class="selected">게시판
                    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m5 8 6 5 6-5"></path>
                    </svg></span>
                    <ul class="submenu">
                        <li>자유게시판</li>
                        <li>문의게시판</li>
                    </ul>
                </li>
                <li style="cursor:Default">|</li>
            </ul>
        </nav>
        <div>
            <p>개인 학습용 홈페이지 입니다. ^^* 👍👍👍</p>
        </div>
    </div>
    <div id="members">
        <button>로그인</button>
        <button>회원가입</button>
    </div>
</header>