<div id="html5">
    <div id="html5_container">
        <div id="html5_menu">
            <ul>
                <li>주메뉴1
                    <ul>
                        <li>소메뉴1</li>
                        <li>소메뉴2</li>
                        <li>소메뉴3</li>
                    </ul>
                </li>
                <li>주메뉴2
                    <ul>
                        <li>소메뉴1</li>
                        <li>소메뉴2</li>
                        <li>소메뉴3</li>
                    </ul>
                </li>
                <li>주메뉴3
                    <ul>
                        <li>소메뉴1</li>
                        <li>소메뉴2</li>
                        <li>소메뉴3</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="html5_content">
            <h1>내용 부분</h1>
        </div>
    </div>
</div>