<div id="JAVASCRIPT">
    <div id="JAVASCRIPT_container">
        <div id="JAVASCRIPT_menu">
            <ul>
                <li>자바스크립트 기초
                </li>
                <li>자바스크립트 객체와 배열
                    <ul class="JAVASCRIPT_submenu">
                        <li>소메뉴1</li>
                        <li>소메뉴2</li>
                        <li>소메뉴3</li>
                    </ul>
                </li>
                <li>DOM(Document Object Model)
                </li>
                <li>이벤트 처리, 입력 검증, BOM
                </li>
                <li>자바스크립트와 캔버스로 게임 만들기
                </li>
                <li>웹서버와 JSP 기초
                </li>
                <li>모바일 웹 페이지와 반응형 웹 디자인
                </li>
                <li>HTML5 위치정보와 드래그와 드롭
                </li>
                <li>HTML5 웹스토리지, 파일API, AJAX
                </li>
            </ul>
        </div>
        <div id="JAVASCRIPT_content">
            <h1>내용 부분</h1>
        </div>
    </div>
</div>